global
        maxconn 4096
        log 127.0.0.1 local0 debug

defaults
        log     global
        mode    http
        option  httplog
        option  log-health-checks
        option  dontlognull
        retries 3
        option redispatch
        option http-server-close
        option forwardfor
        maxconn 2000
        timeout connect 5s
        timeout client  15min
        timeout server  15min
        stats enable
        stats refresh 5s
        stats uri /haproxy?stats
        stats realm Strictly\ Private
        stats auth admin:secret

frontend ssh
  bind *:29418
  default_backend masters

backend masters
   balance roundrobin
   option forwardfor
   server master2 gerrit-master-nginx-blue:89419 check
   server master1 gerrit-master-nginx-green:89420 check
