[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost/
[database]
	type = postgresql
	hostname = postgres-green
	database = reviewdb
	username = gerrit
[index]
	type = LUCENE
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = 127.0.0.1:29420
#	advertisedAddress = localhost:29418
	requestLog = true
[httpd]
	listenUrl = proxy-http://127.0.0.1:8020/
	requestLog = true
[cache]
	directory = cache
[container]
	user = gerrit
