[replication]
    lockErrorMaxRetries = 3

[remote "master-nginx-green"]
    url = http://gerrit-master-nginx-green:8820/${name}.git
    adminUrl = ssh://gerrit-slave-nginx-green/var/gerrit/git/${name}.git
    push = +refs/*:refs/*
    timeout = 30
    replicationDelay = 1
    threads = 4
    replicateProjectDeletions = true
    mirror = true

[remote "slave-nginx"]
    url = http://gerrit-slave-nginx:8888/${name}.git
    adminUrl = ssh://gerrit-slave-nginx/var/gerrit/git/${name}.git
    push = +refs/*:refs/*
    timeout = 30
    replicationDelay = 1
    threads = 4
    replicateProjectDeletions = true
    mirror = true

[remote "slave-httpd"]
    url = http://gerrit-slave-httpd:8888/${name}.git
    adminUrl = ssh://gerrit-slave-httpd/var/gerrit/git/${name}.git
    push = +refs/*:refs/*
    timeout = 30
    replicationDelay = 1
    threads = 4
    replicateProjectDeletions = true
    mirror = true
